.card {
    height: 25rem;
}

.tt {
    color: darkmagenta;
    text-align: left;


}

.card-text {
    text-align: left;
    font-weight: normal;
    font-size: 19px;
}

.ppss {
    font-size: 14px;
}

.wwqq {
    background-color: whitesmoke;
    color: black;
    font-size: 17px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    /* box-shadow: 1px 4px 4px 4px black; */
}

.smm {
    color: black;
}