.card {
    height: 25rem;
}

.tt {
    color: darkmagenta;
    text-align: left;


}

.card-text {
    text-align: left;
    font-weight: normal;
    font-size: 19px;
}

.ppss {
    font-size: 14px;
}