.hh33 {
    text-align: center;
}

.card {
    height: 43rem;
}

.card-text {
    font-weight: normal;
    font-size: 19px;
}

.card-title {
    color: orangered;
    font-weight: bold;
}

.ppss {
    font-size: 14px;
}